node_modules
npm-debug.log
__pycache__
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.git
.gitignore
.github
.vscode
.idea
.DS_Store
README.md
CONTRIBUTING.md
